header {
  background: url("../img/bg-pattern.png"), yellow;
  /* fallback for old browsers */
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, yellow, black);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../img/bg-pattern.png"), linear-gradient(to left, yellow, black);
}

.carousel-control{
width: 5%  
}

.bg-newslatter{
  background-color: black;
  color: #ffffff;
}